body {
  background-color: #ece4db;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

.topbanner {
  background-image: url(../images/bg-pic2.png);
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* clip-path: polygon(50% 0%, 100% 0, 100% 86%, 75% 100%, 0 85%, 0 0); */
}

#logo {
  width: 15%;
  position: relative;
  top: 65%;
  left: 5%;
  z-index: 1;
}
.sidebar {
  visibility: hidden;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #8c8275;
  overflow-x: hidden;
  padding-top: 60px;
  z-index: 2;
  box-shadow: 0px 5px 50px -8px rgb(90, 88, 88);
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 50px;
  margin-top: 25px;
}

#sideBarContent {
  text-align: center;
  padding: 20px;
  font-size: 12px;

  & h1 {
    font-family: "Licorice", cursive;
  }

  & img {
    width: 100px;
    margin-bottom: 25px;
  }
}

.openbtn {
  font-size: 20px;
  margin-left: 25px;
  margin-top: 25px;
  cursor: pointer;
  background-color: #8c8275;
  color: white;
  padding: 10px 15px;
  border: none;
  position: fixed;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s; /* If you want a transition effect */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#blogList {
  width: 55%;
  margin-top: 30px;
  background-color: #daccc4;
  display: flex;
  text-align: center;
  flex-direction: column;
  border-radius: 5px;

  & p {
    padding: 0 10%;
  }
  & h1 {
    font-family: "Licorice", cursive;
    font-size: 55px;
    margin-bottom: 0px;
  }

  & button {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    cursor: pointer;
  }

  & div {
    padding-bottom: 30px;
  }
}

.post-image {
  width: 85%;
  /* margin: 25px; */
  border-radius: 5px;
  box-shadow: 0px 5px 50px -8px rgb(90, 88, 88);
}

.post-author {
  font-style: italic;
}

.divider {
  border: 2px;
}
#form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
  padding-top: 40px;
  padding-bottom: 30px;
  border-radius: 5px;
  background-color: #d4c8bc;
  box-shadow: 0px 5px 30px -8px rgb(90, 88, 88);
  & h1 {
    font-family: "Licorice", cursive;
    font-size: 55px;
    margin-top: 0;
    margin-bottom: 30px;
  }
  & > input,
  > textarea {
    margin-bottom: 10px;
    width: 75%;
    font-family: "Source Sans Pro", sans-serif;
    font-style: italic;
  }

  & > button {
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 20px;
    border-radius: 3px;
    /* box-shadow: 0px 5px 30px -8px rgb(90, 88, 88); */
    border: 0.5px solid grey;
    margin-top: 20px;
    background-color: white;
  }

  & button:hover {
    transform: scale(1.02);
    transition: 0.2s;
    box-shadow: 0px 5px 50px -8px rgb(90, 88, 88);
    cursor: pointer;
  }
}

#arrowTop {
  height: 9px;
  width: 14px;
  color: green;
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

#arrowTop::before {
  content: "▲";
}
